body{
    font-family: Gabarito;
    background-color: #C861E1;
    color: #4C0C5C;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Maven Pro";
    font-size: 300pt;
}
h1 {
    font-size: 30pt;
}
h2 {
    font-size: 22pt;
}
header {
    text-align: center;
}
#hero, footer {
    color: #B61CDB;
    border: 2px solid #8B16A8;
    background-color: #51275C;
    text-align: center;
    padding: 10px;
}
#hero img{
    width: 250pt;
}
#bio {
    text-align: center;
}
#hobbies ul li:nth-child(odd) {
   color: aqua;
}
#hobbies ul li:nth-child(even) {
    color: #00ff7f;
 }
#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery {
    border: 10px solid #00ff7f;
    border-color: #00ff7f;
}

#gallery img {
    max-width: 80%;
}

#gallery figure {
    text-align: center;
}

#lit {
    border: 10px solid #00ff7f;
    border-color: #00ff7f;
    text-align: center;
}

#lit div {
    padding: 2Rem ;
    max-width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#lit div p::first-letter {

    color: azure;
    font: 2em sans-serif;
}

@media (min-width:60em){
    #gallery figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    #gallery figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
}